@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-zinc-900 h-full overflow-x-hidden;
  -webkit-font-smoothing: antialiased;
  font-family: Netflix Sans;
}

html {
  @apply h-full;
}

/* Solve: Autocomplete bg white */

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px rgb(22, 22, 22, 0.7) inset !important;
  -webkit-text-fill-color: white !important;
}
